/* *{
    margin: 0;
    padding: 0 ;
} */

.carousel-item img{
    height: 95vh;
    
}
.navbar a{
    color: #FFFFFF;
}
.navbar {
    color: #FFFFFF;
}
div.main{
    background-color: #2D5A27;
    color : #ffffff;
}

.card-main {
    /* margin-top: 80px; */
    color: black;
}
/* form{
    color: #FFFFFF;
    margin-top: 30px;
}
h1.pesan{
    margin-top: 100px;
    color: #FFFFFF;
} */
.container{
    margin-top: 100px;
    color: #FFFFFF;
}

.background-putih{
    background-color: #FFFFFF !important;
    height: 100vh;
}

.card-login{
    margin-top: 10vh;
}
.h1-login{
    margin-top: 6vh;
    font-size: 70px;
    align-content: center;
}

.container#login{
    color:black !important;
    padding-top: 10vh;
}


